<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.dao.SubjectDao">
	<resultMap type="Subject" id="SubjectResult">
		<result property="id" column="id"/>
		<result property="name" column="userName"/>
		<result property="answer1" column="answer1"/>
		<result property="answer2" column="answer2"/>
		<result property="answer3" column="answer3"/>
		<result property="answer4" column="answer4"/>
		<result property="answer5" column="answer5"/>
		<result property="answer6" column="answer6"/>
		<result property="answer7" column="answer7"/>
		<result property="answer8" column="answer8"/>
		<result property="answer9" column="answer9"/>
		<result property="answer10" column="answer10"/>

		<result property="blank1" column="blank1"/>
		<result property="blank2" column="blank2"/>
		<result property="blank3" column="blank3"/>
		<result property="blank4" column="blank4"/>
		<result property="blank5" column="blank5"/>
		<result property="blank6" column="blank6"/>
		<result property="blank7" column="blank7"/>
		<result property="blank8" column="blank8"/>
		<result property="blank9" column="blank9"/>
		<result property="blank10" column="blank10"/>

		<result property="fileName" column="fileName"/>
	</resultMap>

	<insert id="add" parameterType="Subject">
		INSERT INTO subject VALUES(null,#{name},#{answer1},#{answer2}
		,#{answer3},#{answer4},#{answer5},#{answer6},#{answer7},#{answer8},#{answer9}
		,#{answer10},#{blank1},#{blank2},#{blank3},#{blank4},#{blank5},#{blank6}
		,#{blank7},#{blank8},#{blank9},#{blank10},#{fileName});
	</insert>

</mapper>