<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.dao.TopicDao">
	<resultMap type="Topic" id="TopicResult">
		<result property="id" column="id"/>
		<result property="userId" column="userId"/>
		<result property="content" column="content"/>
		<result property="releaseDate" column="releaseDate"/>
		<result property="contentNoTag" column="contentNoTag"/>
		<result property="title" column="title"/>
	</resultMap>

	<select id="list" parameterType="Map" resultMap="TopicResult">
		SELECT * FROM topic ORDER BY releaseDate DESC
	</select>

	<select id="getTotal" parameterType="Map" resultType="Long">
		SELECT COUNT(*) FROM topic;
	</select>
</mapper> 