<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.wingstudio.dao.UserDao">
	<resultMap type="User" id="UserResult">
		<result property="id" column="id"/>
		<result property="userName" column="userName"/>
		<result property="password" column="password"/>
		<result property="major" column="major"/>
		<result property="avatar" column="avatar"/>
		<result property="points" column="points"/>
		<result property="birth" column="birth"/>
		<result property="sex" column="sex"/>
		<result property="place" column="place"/>
		<result property="political" column="political"/>
		<result property="nation" column="nation"/>
	</resultMap>

	<select id="getByUserName" resultMap="UserResult">
		SELECT * FROM user WHERE userName=#{userName}
	</select>

	<update id="updateInfor" parameterType="User">
		UPDATE user
		<set>
			<if test="avatar!=null and avatar!=''">
				avatar=#{avatar},
			</if>
		</set>
		WHERE id=#{id}
	</update>

	<select id="list" parameterType="Map" resultMap="UserResult">
		SELECT * FROM user ORDER BY id DESC
	</select>

	<delete id="delete" parameterType="Integer">
		DELETE FROM user WHERE id=#{id}
	</delete>

	<insert id="importUsers" parameterType="User">
		INSERT INTO user VALUES (null,#{number},#{number},null,#{password},#{avatar},0,null,null,null,null,null)
	</insert>

	<insert id="addUser" parameterType="User">
		INSERT INTO user VALUES (null,#{userName},#{number},null,#{password},#{avatar},0,#{birth},#{sex},#{place},#{political},#{nation})
	</insert>
</mapper> 